/* *,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
*/

#header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./header.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    flex-direction: column;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#passed {
    display: flex;
    justify-content: center;
    color: black;
    max-height: 5px;
    max-width: 20px;
    background-color: #B0E9D5;
    text-align: left;
}

#failed {
    display: flex;
    color: black;
    max-height: 5px;
    max-width: 20px;
    background-color: tomato;
    text-align: left;
}

form {
    background-color: #E5E4E2;
    padding: 5px;
    position: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    display:flex;
}

input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#form, #name {
    justify-content: center;
    align-content: center;
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    
}

button {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: #B0E9D5;
    font-weight: normal;
    font-size: x-large;
}

select {
  padding: 5px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
}

#subject-results {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
};


#passed-col {
    padding: 0%;
    margin: auto;
}

#failed-col {
    color: red;
    padding: 0%;
    margin: auto;
}
li {
    height: 2rem;
    justify-content: left;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

li:nth-child(even) {
        background-color: #f2f2f2;
};

li:nth-child(odd) {
    border-bottom: 1.5px solid #E5E4E2;
    border-top: 1.5px solid #E5E4E2;
};


