/* *,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
*/

#header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./header.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    flex-direction: column;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
};

#passed {
    display: flex;
    color: rgb(56, 53, 53);
    height: 20px;
    width: 300px;
    background-color: #8ed9c1;
    text-align: left;
    margin: 10px;
    padding: 10px  10px 10px 10px;
    font-size: 15px;
    /*
    background-color: cadetblue;
    margin-bottom: 20px;
    width: 51%;
    display: flex;
    justify-content: space-around;*/
};

#failed {
    display: flex;
    color: rgb(56, 53, 53);
    height: 20px;
    width: 300px;
    background-color: #fc8793;
    text-align: left;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    /*
    background-color: tomato;
    margin-bottom: 20px;
    width: 51%;
    display: flex;
    justify-content: space-around;*/
};

#totalstudents {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
};

form {
    background-color: #E5E4E2;
    padding: 5px;
    position: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    display:flex;
};

input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
};

#form, #name {
    justify-content: center;
    align-content: center;
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: rgb(56, 53, 53);
};

button {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: #8ed9c1;
    font-weight: normal;
    font-size: x-large;
}

select {
  padding: 5px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
};

.error{
    border-style: 1px solid red;
    color: red;
};

#subject-results {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(56, 53, 53);
};


#passed-col {
    padding: 0%;
    margin: auto;
    color: rgb(56, 53, 53);
};

#failed-col {
    color: red;
    padding: 0%;
};

li {
    height: 2rem;
    justify-content: left;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
};

li:nth-child(odd) {
        background-color: #f2f2f2;
};

li:nth-child(even) {
    border-bottom: 1.5px solid #E5E4E2;
    border-top: 1.5px solid #E5E4E2;
};


